body {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    background-color: hsl(346, 33%, 64%);
    width: 1500px;
    height: 550px;
}

.header-btn {
    background-color: #E55473;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 30px;
    text-decoration: azure;

}