/* Header -section start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    width: 100%;
}

header {
    display: flex;
    background-color: hsl(342, 34%, 89%);
    width: 100%;
    height: 800px;
}

.header-intro {
    margin-top: 80px;
    margin-left: 50px;
    width: 708px;
    height: 506px;


}

.header-intro h1 {
    color: #272727;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    height: 310px;


}

.header-p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    height: 120px;
    gap: 32px;



    /* 166.667% */
}

.header-btn {
    background-color: #E55473;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

}

.header-pic {
    width: 635px;
    height: 800px;
    margin-bottom: 0%;
    margin-right: auto;

}


.header-pic img {
    width: 635px;
    height: 800px;
    margin-bottom: 0%;
}

/* Header -section end */



/* flowers info styles */
.flowers-info {
    margin-top: 120px;
}

.flowers-info h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flowers-info p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}


.flowers-add {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 50px;


}

.flowers-img {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 464px;
    height: 538px;



}

.flowers {


    justify-content: space-between;
    gap: 40px;



}

.flowers {

    background-image: url('/images/Rectangle\ 3\ \(1\).png');
    background-position: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(139, 24, 81, 0.15);
    height: 450px;
    width: 360px;
}

.img-f {
    height: 350px;
    width: 310px;
    position: absolute;
    margin-top: 100px;
    margin-left: 35px;
}

.flowers-add p {
    color: rgba(0, 0, 0, 0.951);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-left: 100px;
    margin-top: 480px;
}

/* Flowers-info styles end */

/* delivery section start */
.delivery {
    margin-top: 100px;
    margin-left: 180px;
    margin-right: 140px;
    background-color: #efe1e4;
    display: flex;
    width: 80%;
    height: 320px;
    border-radius: 5px;
    padding: 30px;
}

.delivery-img p {
    color: rgba(39, 39, 39, 0.80);

    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin-left: -50px;


}

.delivery-img {
    display: inline-flex;
    margin-top: 80px;
    margin-left: 120px;
    gap: 100px;
    height: 30px;
    align-content: center;
    position: absolute;

}

.d-img img {
    display: grid;
    justify-content: center;
    margin-left: 55px;

}

/* delivery section end */
/* add-section styles */
.text-primary {
    color: #E55473;
}

.add-sec {
    margin-top: 80px;
    width: 100%;
    height: 520px;
    background-color: #f1eaec;
    display: inline-flex;
}

.add-info h1 {
    margin-top: 200px;
    margin-left: 350px;
}

.add-info p {
    margin-top: 10px;
    margin-left: 300px;

}

.add-btnv {
    text-align: center;
    justify-content: center;
    margin-top: -70px;
    margin-left: 80px;
}

.add-btn {
    background-color: #E55473;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;

    padding: 10px 23px;


}

.add-img {
    width: 218px;
    height: 110px;
    position: center;
    margin-top: 60px;
}

/* add-section styles end */

/* insta-sec styles  */
.insta-img {
    display: flex;
    margin-top: 40px;
    gap: 25px;
    margin-left: 180px;
    margin-right: 140px;
    height: 320px;
    width: 70%;
}

.insta-img img {
    width: 285px;
    height: 396px;
    border-radius: 5px;
}

/* insta-sec styles end  */
/* footer styles start */
.footer-column {
    background-image: url('images/Rectangle\ 9.png');
    margin-top: 150px;
    width: 80%;
    height: 320px;
    border-radius: 3px;
    margin-left: 180px;
    margin-right: 140px;
}



.footer-title {
    text-align: center;
    padding-top: 80px;
    align-items: center;

}



.footer-title p {
    color: rgb(91, 87, 87);
    padding-top: 10px;
}

.form {
    display: flex;
    margin-left: 287px;
    gap: 50px;
    padding-top: 40px;

}

.input-form {
    width: 550px;
    height: 60px;
    border-radius: 3px;
    border: none;
}

/* footer styles end */

.last-footer {
    background-color: black;
    height: 449px;
    margin-top: 60px;
}

.end-info {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    mar
}

.text-primar {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #E55473;

}

.text-scnd {

    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-scn {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.ender-p {
    color: rgba(102, 99, 99, 0.6);
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    height: 120px;
    gap: 32px;
    margin-top: 30px;

}